<nav class="navbar navbar-expand-lg fixed-top">
    <div class="nav-title">
        <h3>
            I Uddin
        </h3>
    </div>
    <div class="nav-content" id="navbarToggler">
        <ul>
            <!-- <li class="nav-item">
                <a href="/" class="nav-link">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="/blog" class="nav-link">
                    Blog
                </a>
            </li> -->
            <li class="nav-item">
                <a href="https://www.github.com/ismailuddin" class="no-decoration">
                    <i class="icon icon_github"></i>
                </a>

            </li>
        </ul>

    </div>
    </div>
</nav>
