$indigo700: #303f9f;
$indigo800: #283593;
$indigo900: #1a237e;
$indigo900dark: #000051;

$cyan400a: #00e5ff;

$teal400a: #1de9b6;
$teal800: #00695c;

$bluegrey800: #102027;

$pink600: #d81b60;
$pink800: #78002e;

$deeporange800: #9f0000;
$deeporange400a: #ff3d00;


// Global variables
$primary: $indigo900dark;
