---
layout:  default_blog
comments: true
---
<div class="container">
    <div class="row">
    <div class="col-xs-12 col-md-push-3 col-md-9">
        <div class="blog-post">
            <h1 class="post-single-title">
                {{ page.title }}
            </h1>
            <br>
            {% for category in page.categories %}
                <div class="category">
                    {{ category }}
                </div>
            {% endfor %}
            <br>
            <time>{{ page.date  | date: '%B %d, %Y' }}</time>
            <hr>
            <div class="post-content">
                {{ content }}


            </div>
            <hr>
            <h1>
                Comments
            </h1>
            <div id="disqus_thread"></div>
            <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

            var disqus_config = function () {
                this.page.url = 'https://ismailuddin.github.io{{page.url}}';  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://ismail-uddin-blog.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


        </div>
	</div>
	<div class="col-xs-12 col-md-pull-9 col-md-3">
        <div class="sidebar-card">
			<h3 class="sidebar">
				_about
			</h3>
			<p>
				A blog about technology, including Python, data science, machine learning, and anything coding related.
			</p>
		</div>
		<div class="sidebar-card">
			<h3 class="sidebar">
				_categories
			</h3>
			<ul class="categories-list">
				<li>
					<a href="/tags/python">
						python
					</a>
				</li>
                <li>
                    <a href="/tags/machine-learning">
                        machine_learning
                    </a>
                </li>
                <li>
                    <a href="/tags/general">
                        general
                    </a>
                </li>
			</ul>
		</div>
		<div class="sidebar-card">
			<h3 class="sidebar">
				_subscribe
			</h3>
			<p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
		</div>
    </div>
</div>
</div>
